
  <div class="col-sm-12 whitebg">
    <h3>DANH BẠ KHÁCH HÀNG</h3><hr>
    <table id="user-contact-table" class="display table table-hover " cellspacing="0" width="100%">
      <thead>
      <tr>
        <th></th>

        <th>Tên</th>
        <th>Nhóm</th>
        <th>Công Ty</th>
        <th>Điện Thoại</th>
        <th>Địa Chỉ</th>
        <th>Ngày Sinh</th>
        <th>Ngày</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th></th>

        <th>Tên</th>
        <th>Nhóm</th>
        <th>Công Ty</th>
        <th>Điện Thoại</th>
        <th>Địa Chỉ</th>
        <th>Ngày Sinh</th>
        <th>Ngày</th>
      </tr>
      </tfoot>
    </table>
  </div>

