<hr>
<h3>Trang Nhân Viên</h3>

<!-- Cách này ...?? cach design nay khong dung' roi pa layout la layout thoi load var tum lum no vay

 var của ông tui để test thôi , chứ ko có lấy var gì hết , chỉ html thôi
 o`
 ma sao nhin thay ghe vay 3 ơ llàm cái khung thôi mà
 mới có bộ xương thôi
 tim cach load menu theo ahref truoc, con cai tab kieu kia tinh sau di
 -->
