<div id="user-call-modal" class="modal fade">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content text-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Call History</h4>
      </div>


      <div class="modal-body">



        <div class="form-group">
          <label for="comment">Ghi chu cuoc goi:</label>
          <textarea class="form-control" rows="5" id="call-content"></textarea>
        </div>

        <div>
          Bay gio la <span id="call-time"></span>
        </div>
      </div>

      <div class="modal-footer">
        <button id="save-call" class="btn btn-success">Save</button>
      </div>


      <!--Sao ko thay gi ta-->


    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
