
<div class="fb-profile">
    <div align="left" class="fb-image-lg"> </div>
    <img align="left" class="fb-image-profile thumbnail" src="<%= user.avatar%>"/>
    <div class="fb-profile-text">
        <h1><%= user.name%></h1>
        <p><%= user.note%></p>
    </div>
</div>