<div id="user-call-modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content text-center">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Thêm Nội Dung</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="comment">Nội Dung Cuộc Gọi:</label>
          <textarea class="form-control" rows="5" id="call-content"></textarea>
        </div>


          <p>Khách hàng có hài lòng không ?</p>
          <form role="form" id="test">
            <label class="radio-inline">
              <input type="radio" name="vote" id="vote" value="yes">Có
            </label>
            <label class="radio-inline">
              <input type="radio" name="vote" id="vote" value="no">Không
            </label>
            </form>
          <hr>


        <div class="alert alert-danger" role="alert"></div>
        <div>Bây giờ là <span id="call-time"></span></div>
      </div>

      <div class="modal-footer">
        <button id="save-call" class="btn btn-success">Đồng Ý</button>
      </div>

    </div>

  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
