

  <div class="col-md-4 col-sm-6 col-xs-6">
    <div class="info-box">
      <span class="info-box-icon bg-red"><i class="glyphicon glyphicon-user"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Khách Hàng</span>
        <span class="info-box-number size28"><%=usercount%></span>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="glyphicon glyphicon-earphone"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Cuộc Gọi</span>
        <span class="info-box-number size28"><%=callscount%></span>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="info-box bg-aqua">
      <span class="info-box-icon"><i class="glyphicon glyphicon-thumbs-up"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Đánh Giá Cuộc Gọi</span>
        <span class="info-box-number"><%=votecount%></span>
        <div class="progress">
          <div class="progress-bar" style="width: 70%"></div>
        </div>
        <span class="progress-description">có 70% khách hàng hài lòng</span>
      </div>
    </div>
  </div>





