<div class="modal fade" id="comment" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="user-comment">
      <img class="img-rounded" src="/images/avatar/ebbdf75a-2b5f-4ebb-8fe6-d6591dbfda68.jpg" alt="user image">
      <form id="form-comment" novalidate="true">
        <input class="hidden" id="postid" name="post" type="name" value="2">
        <input class="hidden" name="accname" type="name" value="Khánh Trần">
        <input class="hidden" name="accavatar" type="avatar" value="/images/avatar/ebbdf75a-2b5f-4ebb-8fe6-d6591dbfda68.jpg">
        <input class="hidden" name="accid" type="accid" value="1">
        <input id="content" name="content" class="form-control input-sm" type="text" placeholder="Type a comment">

      </form>
    </div>

  </div>
</div>
