<div id="incoming-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Incoming Call</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div style="margin-top: 20px; margin-bottom: 20px;">
                <div class="row panel">
                    <div class="col-md-4 bg_blur ">
                        <a href="#" class="add_note_btn hidden-xs">Add Note</a>
                    </div>
                    <div class="col-md-8  col-xs-12">
                        <img src="https://lh3.googleusercontent.com/-Y86IN-vEObo/AAAAAAAAAAI/AAAAAAAKyAM/6bec6LqLXXA/s0-c-k-no-ns/photo.jpg" class="user-avatar img-thumbnail picture hidden-xs" />
                        <img src="https://lh3.googleusercontent.com/-Y86IN-vEObo/AAAAAAAAAAI/AAAAAAAKyAM/6bec6LqLXXA/s0-c-k-no-ns/photo.jpg" class="user-avatar img-thumbnail visible-xs picture_mob" />
                        <div class="header">
                            <h1 userdata="phone">Lorem Ipsum</h1>
                            <h4 userdata="name">Web Developer</h4>
                <span userdata="notes">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</span>
                        </div>
                    </div>
                </div>

                <div class="row nav">
                    <div class="col-md-4"></div>
                    <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
                        <div class="col-md-4 col-xs-4 well"><i class="fa fa-weixin fa-lg"></i> 16</div>
                        <div class="col-md-4 col-xs-4 well"><i class="fa fa-heart-o fa-lg"></i> 14</div>
                        <div class="col-md-4 col-xs-4 well"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
                    </div>
                </div>
            </div>

        </div>
      </div>
      <div class="modal-footer" style="display: none">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
