<div class="modal fade" id="avatar" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Thay đổi hình đại diện</h4>
      </div>
      <div class="modal-body text-center">
        <form id="uploadForm" class="form-inline" role="form"
              enctype="multipart/form-data"
              action="/files/<%= user.phone %>"
              method="post" name="uploadForm" novalidate>
          <img id="thumbnail" style="width:70%;margin-top:10px" src="<%= user.avatar || '/images/default-avatar.png' %>" alt="hình đại diện"><hr>
          <input class="btn btn-primary" type="file" accept="image/*" onchange="showMyImage(this)" id="userPhotoInput" name="uploadFiles" id ="userPhoto" /><hr>
          <input class="btn btn-danger" type="submit" value="Đồng Ý"/>
        </form>
      </div>

    </div>

  </div>
</div>
